
body{

}

.bloque{
    width: 100vh;
    height: 70vh;
    margin: auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    background : gray;
}

h1{
    width:100%;
    height:7vh;
    margin:0px;
    padding-top:2vh;
    text-align:center;
    background:rosybrown;
}

.formulario{
    background : red;
    width:50%;

}

.info{
    background : blue;
    width:50%;
    height:100%;
}